@font-face {
  font-family: 'BubbleBobble';
  src: url('/fonts/BubbleBobble-rg3rx.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  image-rendering: pixelated;
  background-color: #090909;
}

#container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  border: 2px solid #e1e1e1;
}

#game-canvas {
  width: 100%;
  background-color: transparent;
  z-index: 1;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

#options {
  grid-row: 2;
  grid-column: 2;
  border: 2px solid #e1e1e1;
  border-radius: 8px;
  z-index: 2;
}

#score-canvas {
  z-index: 2;
  width: 100%;
  max-height: 24;
  visibility: collapse;
  background-color: #090909;
  vertical-align: top;
}
