@font-face {
  font-family: 'BubbleBobble';
  src: url('/fonts/BubbleBobble-rg3rx.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  image-rendering: pixelated;
  background-color: #090909;
}

#container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  border: 2px solid #e1e1e1;
  max-width: 1280px;
  height: 100dvh;
}

#game-canvas {
  width: 100%;
  max-width: 1280px;
  background-color: transparent;
  z-index: 1;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

#options {
  grid-row: 2;
  grid-column: 2;
  height: 0px;
  border-image-source: url('sprites/FrameBlue.png');
  border-image-slice: 8 8 8 8 fill;
  border-image-width: 8px;
  z-index: 2;
  animation: growheight 800ms ease-out 750ms forwards;
}

#options-canvas {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-width: 0;
  min-height: 0;
  object-fit: contain;
}

@keyframes growheight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

#score-canvas {
  z-index: 2;
  width: 100%;
  max-height: 24;
  visibility: collapse;
  background-color: #090909;
  vertical-align: top;
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}
