@font-face {
  font-family: 'BubbleBobble';
  src: url('/fonts/BubbleBobble-rg3rx.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  image-rendering: pixelated;
  background-color: #090909;
  display: grid;
  grid-template-columns: 1fr;

  > * {
    grid-row: 1;
    grid-column: 1;
  }
}

#game-canvas {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 480px;
  max-height: 320px;
  background-color: transparent;
  z-index: 1;
  transform: translate(-50%, -50%);
}

#score-canvas {
  z-index: 2;
  width: 100%;
  max-height: 24;
  visibility: collapse;
  background-color: #090909;
  vertical-align: top;
}
