@font-face {
  font-family: 'BubbleBobble';
  src: url('/fonts/BubbleBobble-rg3rx.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  image-rendering: pixelated;
  background-color: #090909;
}

text {
  font-family: 'BubbleBobble';
  font-size: 48px;
  fill: url(#text-gradient);
  text-align: center;
  dominant-baseline: middle;
  text-anchor: middle;
}

path {
  fill: transparent
}

#arcade {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 12px;
  border-radius: 15%;
  border-color: aliceblue;
  border-width: 30px;
}

#game-canvas {
  width: 100%;
  background-color: #202020;
  z-index: 1;
}

#score-canvas {
  z-index: 2;
  width: 100%;
  max-height: 24;
  background-color: #090909;
  vertical-align: top;
}
