html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  image-rendering: pixelated;
  background-color: #090909;
}

#container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 10fr 20fr 1fr 10fr;
  grid-template-rows: minmax(9%, 10fr) 20fr 20fr 4fr 20fr;
  border: 2px solid #e1e1e1;
  max-width: 1280px;
  aspect-ratio: 16 / 9;
  max-height: 99vmin;
}

#game-canvas {
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: block;
  object-fit: contain;
}

.nine-slice {
  border-image-source: url('sprites/FrameBlue.png');
  background-color: #070e0f;
  border-radius: 3%;
  border-image-slice: 8 8 8 8 fill;
  border-image-width: 8px;
}

#options {
  grid-row: 3;
  grid-column: 2;
  height: 0px;
  z-index: 2;
}

#sub-options {
  grid-row: 3/5;
  grid-column: 2/4;
  height: auto;
  margin-left: 4%;
  margin-top: 4%;
  z-index: 3;
}

.opening {
  animation: growheight 800ms ease-out 750ms forwards;
}

.complete,
#options.complete {
  transition: none;
  height: 100%;
}

canvas.menu {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-width: 0;
  min-height: 0;
  object-fit: contain;
}

@keyframes growheight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
#score {
  object-fit: contain;
  grid-row: 1;
  grid-column: 1/-1;
}

#score.playing {
  background-color: #070e0f;
  border-bottom: #56cd44 4px solid;
  z-index: 2;
}

#score-canvas {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  display: block;
  object-fit: contain;
  image-rendering: pixelated;
}

.hidden {
  visibility: hidden;
  height: 1px;
  width: 0;
}
