name: Deploy to Itch.io (HTML5)

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    name: Upload to Itch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - uses: KikimoraGames/itch-publish@v0.0.3
        with:
          butlerApiKey: ${{secrets.BUTLER_API_KEY}}
          gameData: ./dist
          itchUsername: ${{vars.ITCH_USERNAME}}
          itchGameId: ${{ vars.ITCH_GAME_ID }}
          buildChannel: itch_build
          buildNumber: 0.1.1
